encoder_epoch_24.pth filter=lfs diff=lfs merge=lfs -text
pretrained/hrnetv2_w48-imagenet.pth filter=lfs diff=lfs merge=lfs -text
notebooks/ckpt/cglncgl_ade20k-hrnetv2-c1-new_data-medium-novelty/encoder_epoch_24.pth filter=lfs diff=lfs merge=lfs -text
